params {
	
	//bwa index (human or host)
	bwaidx_path					= '/home/project/14001280/software/genomeDB/genomeIndices'
	bwaidx						= 'hg38.fa'
	
	//Kraken2 and Bracken
	kraken2db					= '/home/project/14001280/software/genomeDB/genomeIndices/kraken2/plusfungi/'
	
	//Metaphlan4
	metaphlan4db				= '/home/project/14001280/PROJECTS/ASMP/HELIOS/DATA/MISSING_LIBRARIES/genomeDB/metaphlan4'
	metaphlan4_index   			= 'mpa_vOct22_CHOCOPhlAnSGB_202212'
  	metaphlan4_pkl     			= 'mpa_vOct22_CHOCOPhlAnSGB_202212.pkl'
	
	//Humann3
	humann3_nt 					= '/home/project/14001280/PROJECTS/ASMP/HELIOS/DATA/MISSING_LIBRARIES/genomeDB/humann3/chocophlan/'
  	humann3_protein    			= '/home/project/14001280/PROJECTS/ASMP/HELIOS/DATA/MISSING_LIBRARIES/genomeDB/humann3/uniref/'

	//SRST2
  	srst2_ref 					= '/home/project/14001280/PROJECTS/ASMP/HELIOS/DATA/MISSING_LIBRARIES/genomeDB/srst2/ARGannot_r3.fasta'
}
	
process {
	withName:"DECONT" {
		beforeScript = ". /home/project/14001280/PROJECTS/ASMP/HELIOS/DATA/MISSING_LIBRARIES/anaconda3/etc/profile.d/conda.sh; conda activate decont"
	}

	withName:KRAKEN2 {
        container = '/home/project/14001280/PROJECTS/ASMP/HELIOS/DATA/MISSING_LIBRARIES/singularity/main.sif'
    }

	withName:BRACKEN {
        container = '/home/project/14001280/PROJECTS/ASMP/HELIOS/DATA/MISSING_LIBRARIES/singularity/main.sif'
    }
	
    withName:METAPHLAN4 {
        container = '/home/project/14001280/PROJECTS/ASMP/HELIOS/DATA/MISSING_LIBRARIES/singularity/metaphlan4.sif'
    }

	withName:MEGAHIT {
		container = '/home/project/14001280/PROJECTS/ASMP/HELIOS/DATA/MISSING_LIBRARIES/singularity/megahit.sif'
	}
	
    withName:HUMANN3 {
        container = '/home/project/14001280/PROJECTS/ASMP/HELIOS/DATA/MISSING_LIBRARIES/singularity/humann3.sif'
    }
    
    withName:SRST2 {
        container = '/home/project/14001280/PROJECTS/ASMP/HELIOS/DATA/MISSING_LIBRARIES/singularity/srst2.sif'
    }
}
