params {
	
	//bwa index (human or host)
	bwaidx_path					= '/home/users/astar/gis/wijayai/scratch/genomeDB/bwa/'
	bwaidx						= 'hg38.fa'
	
	//Kraken2 and Bracken
	kraken2db					= '/home/users/astar/gis/wijayai/scratch/genomeDB/kraken2/plusfungi/'
	
	//Metaphlan3
	metaphlan3db				= '/home/users/astar/gis/wijayai/scratch/genomeDB/metaphlan3/'
	metaphlan3_index   			= 'mpa_v30_CHOCOPhlAn_201901'
  	metaphlan3_pkl     			= 'mpa_v30_CHOCOPhlAn_201901.pkl'

	//Metaphlan4
	metaphlan4db				= '/home/users/astar/gis/wijayai/scratch/genomeDB/metaphlan4/'
	metaphlan4_index   			= 'mpa_vOct22_CHOCOPhlAnSGB_202212'
  	metaphlan4_pkl     			= 'mpa_vOct22_CHOCOPhlAnSGB_202212.pkl'
	
	//Humann3
	humann3_nt 					= '/home/users/astar/gis/wijayai/scratch/genomeDB/humann3/chocophlan/'
  	humann3_protein    			= '/home/users/astar/gis/wijayai/scratch/genomeDB/humann3/uniref/'

	//Pathoscope
	patho_ref					= "/home/users/astar/gis/wijayai/scratch/genomeDB/malassezia_ref/malassezia_ref_all_14_w_MT.fa"
	patho_refdir				= "/home/users/astar/gis/wijayai/scratch/genomeDB/malassezia_ref/"
	patho_filter				= "/home/users/astar/gis/wijayai/scratch/genomeDB/malassezia_ref/fungi_20130823_w_ustilago.fasta"
	patho_filterdir				= "/home/users/astar/gis/wijayai/scratch/genomeDB/malassezia_ref/"
	num_species					= 14
	windows_bed					= "/home/users/astar/gis/wijayai/scratch/genomeDB/malassezia_ref/malassezia_ref_all_14_1kbpwindows.bed"

	//SRST2
  	srst2_ref 					= '/home/users/astar/gis/wijayai/scratch/genomeDB/srst2/ARGannot_r3.fasta'
}
	
process {
	withName:"DECONT" {
		beforeScript = ". /scratch/users/astar/gis/wijayai/miniconda3/etc/profile.d/conda.sh; conda activate decont"
	}

	withName:KRAKEN2 {
        container = '/home/users/astar/gis/wijayai/scratch/singularity/main.sif'
    }

	withName:BRACKEN {
        container = '/home/users/astar/gis/wijayai/scratch/singularity/main.sif'
    }
	
	withName:METAPHLAN3 {
        container = '/home/users/astar/gis/wijayai/scratch/singularity/metaphlan3.sif'
    }

    withName:METAPHLAN4 {
        container = '/home/users/astar/gis/wijayai/scratch/singularity/metaphlan4.sif'
    }

	withName:PATHOSCOPE {
        container = '/home/users/astar/gis/wijayai/scratch/singularity/pathoscope.sif'
    }

	withName:STATS_PATHOSCOPE {
        beforeScript = "module load bedtools2; module load samtools"
    }

    withName:HUMANN3 {
        container = '/home/users/astar/gis/wijayai/scratch/singularity/humann3.sif'
    }
    
    withName:SRST2 {
        container = '/home/users/astar/gis/wijayai/scratch/singularity/srst2.sif'
    }
}
