//https://sylabs.io/guides/3.2/user-guide/cli/singularity_pull.html
process {
    // Process-specific containers
    
	//withName:DECONT {
    //    container = '/home/users/astar/gis/wijayai/scratch/singularity/main.sif'
    //}

	withName:KRAKEN2 {
        container = '/home/users/astar/gis/wijayai/scratch/singularity/main.sif'
    }

	withName:BRACKEN {
        container = '/home/users/astar/gis/wijayai/scratch/singularity/main.sif'
    }
	
    withName:METAPHLAN4 {
        container = '/home/users/astar/gis/wijayai/scratch/singularity/metaphlan4.sif'
    }

    withName:HUMANN3 {
        container = '/home/users/astar/gis/wijayai/scratch/singularity/humann3.sif'
    }
    
    withName:SRST2 {
        container = '/home/users/astar/gis/wijayai/scratch/singularity/srst2.sif'
    }


}